[access]
	inheritFrom = All-Projects
[submit]
	mergeContent = true
	action = rebase if necessary
[access "refs/*"]
	owner = group user/Sergey Buryndin (buryndin)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Sergey Buryndin (buryndin)
	label-Verified = -1..+1 group user/Sergey Buryndin (buryndin)
	push = group user/Sergey Buryndin (buryndin)
	read = group user/Sergey Buryndin (buryndin)
	rebase = group user/Sergey Buryndin (buryndin)
	removeReviewer = group user/Sergey Buryndin (buryndin)
	submit = group user/Sergey Buryndin (buryndin)
[access "refs/heads/*"]
	create = group user/Sergey Buryndin (buryndin)
	push = +force group user/Sergey Buryndin (buryndin)
	pushMerge = group user/Sergey Buryndin (buryndin)
	read = group user/Sergey Buryndin (buryndin)
[access "refs/tags/*"]
	push = group user/Sergey Buryndin (buryndin)
	push = +force group user/Sergey Buryndin (buryndin)
[receive]
	requireChangeId = true
	createNewChangeForAllNotInTarget = false
[change]
	privateByDefault = false
	workInProgressByDefault = false
